.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-10 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0px;
}

nav {
    background-color: #00416d !important;
}

.card {
    border-radius: 10px !important;
    background-color: #f5f1da !important;
}

.card-image {
    max-height: 35vw !important;
    overflow: hidden !important;
}

@media only screen and (min-width: 600px) {
    .card-image {
        max-height: 14vw;
        overflow: hidden;
    }
}

#preloader {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

